{% extends 'base.html' %}
{% block content %}
<div class="d-flex gap-2 justify-content-center align-items-center" style="height: 80vh;">
    <div class="card text-center shadow p-4" style="width: 18rem;">
        <div class="card-body">
                <a href="{% url 'lista_consultas' %}" class="btn btn-primary"><h4>Ver Consultas</h4></a>
         </div>
    </div>
    <div class="card text-center shadow p-4" bg-info style="width: 18rem;">
        <div class="card-body">
                <a href="{% url 'lista_animais' %}" class="btn btn-primary"><h4>Ver Animais</h4></a>
        </div>
    </div>
</div>
{% endblock %}